.card {
  width: 200px;
  height: 100px;
  border: 2px solid var(--common-black);
}

.card--groceries {
  border: 2px solid var(--primary-color);
}

.card_headline {
  color: var(--secondary-color);
}

.card_button {
  border: none;
  background: var(--common-black);
  color: var(--common-white);
}

.card_button--active {
  background: var(--primary-color);
}
